main{
    background-color: rgba(201, 198, 198, 0.407);
}
.s2{
    margin-top: 30px;
}
.quemsomos{
    font-size: 30px;
    color: #664602;
}
.card{
    font-size: 34px;
    color: #664602;
}
.im1{
    border-radius: 10px;
}
.p1{
    padding-top: 30px;
}
.s1 div{
    margin-top: 50px;
}
.d1{
    border: 5px solid rgba(201, 198, 198, 0.407);
}
.d2{
     border: 5px solid rgba(201, 198, 198, 0.407);
}
.d3{
     border: 5px solid rgba(201, 198, 198, 0.407);
}
.pro{
    font-size: 30px;
    color: #664602;
}
.pro1{
    color: #664602;
}
.inspirar{
    font-size: 20px;
    margin-top: 20px;
}
.s2 div{
    margin-top: 35px;
}
.hh{
    font-size: 20px;
    font-weight: 900;
}

.historia{
    font-size: 25px;
    color: #664602;
}
.uma{
    font-size: 35px;
    color: #664602;
    padding-top: 30px;
}
.p1{
    padding-top: 20px;
    font-size: 15px;
}
.p2{
    padding-top: 20px;
    font-size: 15px;
}
.p3{
    padding-top: 20px;
    font-size: 15px;
}
.s{
    margin-top: 50px;
}
.ss3{
    margin-top: 50px;
}
.di1{
    border: 5px solid  rgba(201, 198, 198, 0.407);
    height: 240px;
}
.infor{
    font-size: 20px;
    font-weight: 900;
    padding-top: 20px;

}
.ii{
    padding-top: 30px;
}
.ss4{
    margin-top: 50px;
} 
.c1{
    font-size: 30px;
    color: #664602;
    padding-top: 20px;
}
.aa{
    font-size: 20px;
    padding-top: 50px;
}
.fo1{
    border: 5px solid rgba(201, 198, 198, 0.407); 
    height: 400px;
}
.gg1{
    font-size: 20px;
    color: #664602;
}
.imgg1{
    margin-top: 20px;

}
.xz{
    padding-top: 20px;
}
.ler{
    margin-top: 20px;
    width: 80%;
    height: 40px;
    border-radius: 8px;
    background-color: #664602;
    color: white;
}
.fotos{
    margin-top: 40px;
}
.fotos div{
    margin-top: 30px;
    
}
.exames{
    font-size: 35px;
    color: #664602;
}
.ultra{
    font-size: 30px;
    font-weight: 900;
    padding-top: 50px;
}
.dv1{
    border: 5px solid rgba(201, 198, 198, 0.407) ;
    height: 170px;
}
.cg{
    margin-top: 30px;
}
.ss5 div{
    margin-top: 30px;
}
.dv2{
    border: 5px solid rgba(201, 198, 198, 0.407) ;
    height: 600px;
}
.dvv2{
    font-size: 25px;
    color: #664602;
}
.dv3{
    border: 5px solid rgba(201, 198, 198, 0.407) ;
    height: 150px;
}
.dv4{
     border: 5px solid rgba(201, 198, 198, 0.407) ;
     height: 370px;
}
.ss6 div{
    margin-top: 30px;
}
.dv5{
     border: 5px solid rgba(201, 198, 198, 0.407) ;
     height: 270px;
}
.dv6{
    border: 5px solid rgba(201, 198, 198, 0.407) ;
    height: 470px;
}
.ss7 div{
    margin-top: 30px;
}
.ss8 div{
    margin-top: 30px;
}
.ss9 div{
    margin-top: 30px;
}

.conv{
    font-size: 30px;
    color: #664602;
}
.ft1{
    border-radius: 15px;
}
.convenios img{
    margin-top: 20px;
}
.convenios div{
    margin-top: 30px;


}
.wht{
    background-color: rgb(240, 223, 223);
    border: 2px solid rgba(201, 198, 198, 0.407);
    height: 160px;
}
.fale1{
    font-size: 35px;
    color: #664602;
}
.wh{
    font-size: 35px;
    color: #664602;
    padding-top: 10px;
}
.zap{
    margin-top: 10px;
}
.n{
    font-size: 20px;
    padding-top: 20px;
}
.email{
    background-color: rgb(191, 148, 148);
    border: 2px solid rgba(201, 198, 198, 0.407);
    height: 160px;
}
.endereço{
    background-color: rgb(119, 85, 85);
    border: 2px solid rgba(201, 198, 198, 0.407);
    height: 160px;
}
.faleconosco div{
    margin-top: 30px;
}
.faleconosco{
    
}